<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="path_arh" value="D:\temp\nod32_from" />
        <add key="path_base" value="D:\temp\nod32_to" />
        <add key="nod32_fn" value="offline_update_eav.zip" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>